body {
	font-synthesis: none;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;text-align: left;
}
* {@include backface-visibility;}

* {
	font-family: 'Open Sans', 'Segoe UI', Arial, arial, sans-serif;
	// font-size: 1rem;
}
a{
	text-decoration: none;
}
body {
	background: rgba($black, .06);
	@include transition(all .3s ease);

	&.ploader-open {
		overflow: hidden;
		padding-right: 17px;
	} /* //&.ploader-open */
	&.bglnav-open {
		overflow: hidden;
	} /* //&.bglnav-open */
	&.bglhelp-open {
		overflow: hidden;
		
	} /* //&.bglhelp-open */
	&.bgltemplate-open {
		overflow: hidden;
	} /* //&.bgltemplate-open */
	&.dark-theme{
		background-color:rgba($bgcolor-darktheme, 1);
		 @include transition(all .3s ease);
	}
}
.modal-scrollbar-measure {top: 0;z-index: 9990;}

.slideIn {
	/*@include animation-duration(1s);
	@include animation-fill-mode(forwards);
	@include animation-name(slideIn);*/
	@include animation(slideIn 1s forwards);
}

.fadeIn {
	@include animation(fadeIn 1s forwards);
}

.popMe {
	@include animation(popMe 1s forwards);
}

/* //common styles */
a {color: $brand1; cursor: pointer;}
a, a:hover, a:focus, a:active {text-decoration: none;}
a, a:hover, a:focus {outline: none;}

/* //Bootstrap overriding */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {padding-right: 0;padding-left: 0;}
.row {margin-right: 0;margin-left: 0;}
.container-fluid{padding-left:0;padding-right:0;}
/* //Bootstrap dropdown custom select overriding */
/* //Bootstrap table overriding */
.datatable-box, .table-box {
	text-align: left;
	.table {
		tr {
			&.odd {
				background-color: rgba($brand1, .05);
			} /* //&.odd */
			&.even {
				
			} /* //&.even */
		} /* //tr */
		td, th {
			// padding: 0;
			border-top: 1px solid rgba($brand1, .1);
			vertical-align: middle;
		}
		thead th {
			border-bottom: none;
			padding: .3rem .75rem;
			background-color: rgba($black, .06);
			font-size: .9rem;
			font-weight: 600;
			border-top: none;
			
		}
		&.table-hover tbody tr:hover {
			background-color: rgba($brand1, .075);
		}
		&.dataTable tbody>tr.selected, 
		&.dataTable tbody>tr>.selected {
			background-color: rgba($brand1, .9);
			td, th {
				border-top: 1px solid $white;
			}
		}
		tr, tr th, tr td {
			&:focus {
				outline: none;
			}
		}
	} /* //.table */
	.custom-select:focus {
		outline: none;
		box-shadow: none;
		border-color: rgba($brand1, .5);
	}
	.form-control {
		color: $brand1;
		&:focus {
			background-color: inherit;
			border-color: rgba($brand1, .5);
			outline: 0;
			box-shadow: none;
		}
	}
} /* //.datatable-box */
.table-box {
	.table {
		margin: 0;
		border-collapse: separate !important;
		border-spacing: 0;
		tr:nth-child(odd) {
			background-color: rgba($brand1, .05);
		}
		tr.row-selected {
			background-color: rgba($brand1, .9);
			color: $white;
			.viewmorebutton {
				color: $brand1;
				background: rgba($white, .9);
			} /* //.viewmorebutton */
		} /* //tr.row-selected */
	} /* //.table */
} /* //.table-box */
/* //Bootstrap & Datatable overriding */
div.dataTables_wrapper {
	div.dataTables_info {
		padding-top: .2rem;
		font-size: .8rem;
		color: rgba($black, .7);
		&:focus {
			outline: none;
			box-shadow: none;
		} /* //&:focus */
		span.select-info {
			display: block;
			margin-top: -4px;
			span.select-item {
				font-weight: 600;
				color: $brand1;
				font-size: .8rem;
			}
		}
	} /* //div.dataTables_info */
	.page-link {
		color: $brand1;
		padding: .2rem .5rem;
		font-size: .8rem;
		&:focus {
			outline: none;
			box-shadow: none;
		} /* //&:focus */
	} /* //.page-link */
	.page-item {
		&.active {
			.page-link {
				background-color: $brand1;
				border-color: $brand1;
			}
		} /* //.active */
		&.disabled {
			
		} /* //.disabled */
	} /* //.page-item */
	div.dataTables_paginate {
		ul.pagination {
			justify-content: center;

			&:focus {
				outline: none;
				box-shadow: none;
			} /* //&:focus */
			li {
				font-size: .8rem;
			} /* //li */
		}
	} /* //div.dataTables_paginate */
	.dataTables_length {
		label {font-size: .8rem;}
		select.custom-select.form-control {
			font-size: .9rem;
			padding-top: .2rem;
			padding-bottom: .2rem;
		}
	} /* //.dataTables_length */
	.dataTables_filter {
		label {font-size: .8rem;}
	} /* //.dataTables_filter */
	table.dataTable {
		/* -- override dataTable */
		margin-top: 0px !important;
		margin-bottom: 0px !important;
		tbody tr {
			td.dt-viewdetails {
				// vertical-align: middle;
			} /* //td.dt-viewdetails */
			td.sorting_1 {
				font-weight: 600;
			} /* //td.sorting_1 */
		}
		th.dataTables_empty, td.dataTables_empty {
			padding: 5rem 2rem;
			// tr &:parent { background: red; }
		} /* //th.dataTables_empty, td.dataTables_empty */
		thead .sorting:before, 
		thead .sorting:after, 
		thead .sorting_asc:before, 
		thead .sorting_asc:after, 
		thead .sorting_desc:before, 
		thead .sorting_desc:after, 
		thead .sorting_asc_disabled:before, 
		thead .sorting_asc_disabled:after, 
		thead .sorting_desc_disabled:before, 
		thead .sorting_desc_disabled:after {
			bottom: 0.3em;
		}
		tr {
			td.dt-viewdetails {
				div.dt-btn-viewdetails {
					width: 24px;
					height: 24px;
					display: block;
					margin: 0 auto;
					background-color: rgba($black, .1);
					// background-color: rgba($brand1, .9);
					position: relative;
					cursor: pointer;
					@include border-radius(12px);
					// @include transition;
					&::before {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						display: block;
						background: lighten($black, 50%);
						// background: lighten($white, 50%);
						height: 2px;
						width: 12px;
						margin-left: -6px;
						margin-top: -1px;
						@include border-radius(1px);
						// @include transform(translate(0, 10px));
						@include transition;
					} /* //&::before */
					&::after {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						display: block;
						background: lighten($black, 50%);
						// background: lighten($white, 50%);
						height: 12px;
						width: 2px;
						margin-top: -6px;
						margin-left: -1px;
						@include border-radius(1px);
						@include transition;
					} /* //&::after */
				} /* //div.dt-btn-viewdetails */
			} /* //td.dt-viewdetails */
			&.dt-rowexpandable {
				background-color: $brand1;
				color: $white;
				td.dt-viewdetails div.dt-btn-viewdetails {
					background-color: $white;
					// &::before {background-color: rgba($brand1, .9);}
					&::after {@include opacity(0);}
				}
				& + tr.dt-rowexpanded-details {
					// background-color: purple;
					td {
						padding: 0;
						border-top: 1px solid rgba($brand1, .9);
						.dt-exdetails-container {
							display: block;
							padding: 100px;
							background-color: rgba($brand1, .1);
							text-align: center;
						} /* //.dt-exdetails-container */
					} /* //td */
				} /* //tr.dt-rowexpanded-details */
				&:hover {
					background-color: $brand1;
					color: $white;
				} /* //&:hover */
			} /* //&.dt-rowexpandable */
			td.dt-showerror {
				text-align: center;
				div.dt-btn-showerror {
					background-color: rgba($action-danger, .2);
					color: rgba($action-danger, .8);
					white-space: nowrap;
					display: inline-block;
					padding: 4px 8px;
					padding-left: 20px;
					font-size: 10px;
					font-weight: 500;
					cursor: pointer;
					position: relative;
					// @include border-radius(4px);
					&::before {
						content: '';
						position: absolute;
						left: 10px;
						top: 50%;
						display: block;
						background: rgba($action-danger, .5);
						// background: lighten($white, 50%);
						height: 2px;
						width: 12px;
						margin-left: -6px;
						margin-top: -1px;
						@include border-radius(1px);
						// @include transform(translate(0, 10px));
						@include transition;
					} /* //&::before */
					&::after {
						content: '';
						position: absolute;
						left: 10px;
						top: 50%;
						display: block;
						background: rgba($action-danger, .5);
						// background: lighten($white, 50%);
						height: 12px;
						width: 2px;
						margin-top: -6px;
						margin-left: -1px;
						@include border-radius(1px);
						@include transition;
					} /* //&::after */
				} /* //.dt-btn-showerror */
			} /* //td.dt-showerror */
			&.dt-rowerrorexpandable {
				background-color: rgba($action-danger, .7);
				color: $white;
				td.dt-showerror div.dt-btn-showerror {
					background-color: rgba($white, .8);
					// &::before {background-color: rgba($brand1, .9);}
					&::after {@include opacity(0);}
				} /* //td.dt-showerror div.dt-btn-showerror */
				& + tr.dt-rowexpanded-error {
					// background-color: purple;
					td {
						padding: 0;
						border-top: 1px solid rgba($action-danger, .9);
						.dt-exerror-container {
							display: block;
							padding: 20px;
							background-color: rgba($action-danger, .1);
							text-align: center;
							h5 {
								margin: 0;padding: 0;
							} /* //h5 */
						} /* //.dt-exerror-container */
					} /* //td */
				} /* //& + tr.dt-rowexpanded-error */
				&:hover {
					background-color: rgba($action-danger, .7);
					color: $white;
				} /* //&:hover */
			} /* //&.dt-rowerrorexpandable */
			&.dt-apexpandable{
				background-color: $brand1;
	    		color: white;
	    		&:hover{
		    		background-color: $brand1;
		    		color: white;
		    	}
				& + tr.dt-rowexpanded-details{
					background-color: rgba(202, 202, 202, 0.62);
					&:hover{
						background-color: rgba(202, 202, 202, 0.62);
					}
					td {
						padding: 0.75rem;
					}
					.ap-innercontent{
						padding:15px;
						.ap-contentheader{
							h4{
								border-bottom: 1px solid #00000026;
	    						font-weight: 500;
	    						font-size:1.2rem;
	    						padding-bottom:5px;
	    						margin-bottom: 15px;
    						}
						}
						.ap-formsection{
							background-color:$white;
							padding: 15px;
							.ap-subcontent{
								.ap-subheader{
									h5{
										font-size: 1rem;
									    padding-bottom: 5px;
									    border-bottom: 1px solid #00000026;
									    margin: 0 .7rem 1rem .7rem;
									    color: rgba(0, 0, 0, 0.7);	
									}
								}
							}
						}
					}
				}
				td{
					&.dt-apdetails{
							div{
							&.dt-btn-apdetails{
								//background-color:$white;
    							//color: $black;
    							background-color: rgb(218, 187, 251);
    							color: #6000b3;
    							&::after {
    								zoom: 1;
			    					opacity: 0;
    							}
							}
						}
					}
					&.dt-cpdetails{
						div{
							&.dt-btn-cpdetails{
								//background-color:$white;
								//color:$black;
								background-color:#9fcfff;
								color: #005ab3;
							}
						}
					}
				}
			}
			&.dt-cpexpandable{
				background-color: $brand1;
		    	color: white;
		    	&:hover{
		    		background-color: $brand1;
		    		color: white;
		    	}
				td.dt-cpdetails{
					div{
						&.dt-btn-cpdetails{
							//background-color:$white;
							background:#9fcfff;
    						color: #005ab3;
    						&::after{
    							zoom: 1;
			   					opacity: 0;
    						}
						}
					}
				}
				td.dt-apdetails{
					div{
						&.dt-btn-apdetails{
							//background-color:$white;
							//color:$black;
							color: #6000b3;
							background-color: #debdfc;
						}
					}
				}
				& + tr.dt-rowexpanded-details{
					background-color: rgba(202, 202, 202, 0.62);
					&:hover{
						background-color: rgba(202, 202, 202, 0.62);
					}
					.cp-innercontent{
						padding:15px;
						.cp-contentheader{
							h4{
								border-bottom: 1px solid #00000026;
								font-weight: 500;
								font-size:1.2rem;
		    					padding-bottom: 5px;
	    						margin-bottom: 15px;
							}
    					}
    					.table-box{
    						overflow:auto;
							min-width:100%;
    					}
					}
				}
			}
			td.dt-cpdetails {
				div.dt-btn-cpdetails{
					//background-color: rgba(0, 0, 0, 0.1);
					background:#9fcfff;
					color: #005ab3;
				    white-space: nowrap;
				    display: inline-block;
				    padding: 4px 8px;
				    vertical-align: middle;
				    padding-left: 20px;
				    font-size: 10px;
				    font-weight: 500;
				    cursor: pointer;
				    position: relative;
					&::before {
						content: '';
						position: absolute;
						left: 10px;
						top: 50%;
						display: block;
						//background: lighten($black, 50%);
						// background: lighten($white, 50%);
						background: #457eb7;
						height: 2px;
						width: 12px;
						margin-left: -6px;
						margin-top: -1px;
						@include border-radius(1px);
						// @include transform(translate(0, 10px));
						@include transition;
					} /* //&::before */
					&::after {
						content: '';
						position: absolute;
						left: 10px;
						top: 50%;
						display: block;
						//background: lighten($black, 50%);
						// background: lighten($white, 50%);
						background: #457eb7;
						height: 12px;
						width: 2px;
						margin-top: -6px;
						margin-left: -1px;
						@include border-radius(1px);
						@include transition;
					} /* //&::after */
				}
			}
			td.dt-apdetails {
				div.dt-btn-apdetails{
					background-color: rgba(209, 161, 251, 0.7);
    				color: #6000b3;
				    white-space: nowrap;
				    display: inline-block;
				    padding: 4px 8px;
				    vertical-align: middle;
				    padding-left: 20px;
				    font-size: 10px;
				    font-weight: 500;
				    cursor: pointer;
				    position: relative;
					&::before {
						content: '';
						position: absolute;
						left: 10px;
						top: 50%;
						display: block;
						//background: lighten($black, 50%);
						background:#a05dda;
						// background: lighten($white, 50%);
						height: 2px;
						width: 12px;
						margin-left: -6px;
						margin-top: -1px;
						@include border-radius(1px);
						// @include transform(translate(0, 10px));
						@include transition;
					} /* //&::before */
					&::after {
						content: '';
						position: absolute;
						left: 10px;
						top: 50%;
						display: block;
						//	background: lighten($black, 50%);
						background:#a05dda;
						// background: lighten($white, 50%);
						height: 12px;
						width: 2px;
						margin-top: -6px;
						margin-left: -1px;
						@include border-radius(1px);
						@include transition;
					} /* //&::after */
				}
			}
		} /* //tr */
	} /* //table.dataTable */
} /* //div.dataTables_wrapper */
/* //Bootstrap table paging and datatable paging overriding */
.table-responsivebox {
	.restable-box { //DataTable 
		overflow: auto;
		border-bottom: 1px solid rgba($brand1, .1);
		table.table.dataTable {
		} /* //table.table.dataTable */
	} /* //.restable-box */
	.tableresponsive { //Normal Table 
		max-height: 600px;
		// overflow: auto;
		overflow: hidden;
		overflow-y: auto;
		overflow-x:auto;
		tr{
			th,td{
				white-space:nowrap;
				.toggle{
					vertical-align:bottom;
				}
			}
		}
	} /* //.tableresponsive */
} /* //.table-responsivebox */
@media (min-width: 768px) {
	div.dataTables_wrapper div.dataTables_info span.select-info {
		display: inline-block;
	}
	main.main-container div.in-main .in-mcontainer {
		padding: 15px;
	}
}
.main-table {
	.datatable-noresult {
		display: block;
		padding: 60px 10px;
		margin: 15px auto;
		text-align: center;
		border: 1px solid rgba($black, .05);
		@include border-radius(8px);
		position: relative;
		// background-color: rgba($white, .9);
		background-color: rgba($black, .05);
		h4 {
			margin: 0;
			padding: 0 0 5px;
			display: block;
			width: 100%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			font-size: 1.2rem;
		} /* //h4 */
		p {
			margin: 0;
			padding: 0;
			font-size: .8rem;
		} /* //p */
	} /* //.datatable-noresult */
	.datatable-box {
		
	} /* //.datatable-box */
} /* //.main-table */
/* //Bootstrap modal overriding */
/* ====== Bootstrap Overwriting :: Start */
.modal {
	.modal-dialog {
		margin: 0 auto;
		.modal-content {
			border: none;
			@include border-radius(0);
			position: relative;
			padding: 0px;
			height: 100vh;
			overflow: hidden;
			.modal-header {
				/* -- @ahmad */
				padding: 0px;
				border-bottom: 1px solid #eee;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				z-index: 10;
				display: block;
				background-color: rgba($white, .9);
				// @include transition(all .3s ease .5s);
				// @include transform(translate(0, -100px));
				.mh-top {
					background-color: rgba($brand1, .1);
					padding: 5px 0;
					text-align: center;
					h6 {
						margin: 0;
						padding: 0;
						font-size: .7rem;
					} /* //h6 */
				} /* //.mh-top */
				.mh-bottom {
					text-align: center;
					h4 {
						// color: $black;
						margin: 0;padding: 0;
						padding: 10px 0;
						font-size: 1.2rem;
					} /* //h4 */
					.mh-cross {
						width: 42px;
						height: 42px;
						display: inline-block;
						position: relative;
						// background: red;
						float: right;
						// position: absolute;
						// right: 10px;
						// top: 50%;
						// margin-top: -10px;
						@include opacity(.7);
						// @include border-radius(50px);
						&::before, &::after {
							position: absolute;
							left: 20px;
							content: ' ';
							height: 20px;
							width: 2px;
							top: 12px;
							background-color: $black;
							// @include transition(transform .4s ease, margin .2s ease);
						} /* //&::before, &::after */
						&::before {
							transform: rotate(45deg);
						} /* //&::before */
						&::after {
							transform: rotate(-45deg);
						} /* //&::after */
						&:hover {
							background-color: rgba($action-danger, 1);
							&::before, &::after {background-color: $white;}
						} /* //&:hover */
					} /* //.mh-cross */
				} /* //.mh-bottom */
			} /* //.modal-header */
			.modal-body {
				position: relative;
				height: 100%;
				padding: 75px 15px 0;
				@include transition(all .3s ease .5s);
				// @include transition;
				.modal-overflow {
					overflow: auto;height: 100%;
				} /* //.modal-overflow */
			} /* //.modal-body */
			.modal-footer {
				border-top: 1px solid #eee;
				text-align: center;
				/* -- @ahmad */
				position: absolute;
				left: 0;right: 0;bottom: 0;
				z-index: 10;
				background-color: rgba($white, .9);
				// display: block;
				justify-content: space-between;
				@include transition(all .3s ease .5s);
				@include transform(translate(0, 100px));
				// .modal-open .modal .modal-content & {@include transform(translate(0, 0));}
			}/*.modal-footer*/
		} /* //.modal-content */
		&.modal-custom {
			max-width: 100%;
		} /* //&.modal-custom */
	} /* //.modal-dialog */
} /* //.modal */
// .modal-open .modal.show .modal-dialog .modal-content .modal-header {@include transform(translate(0, 0));}
// .modal-open .modal.show .modal-dialog .modal-content .modal-body {padding-top: 75px;padding-bottom: 85px;}
.modal-open .modal.show .modal-dialog .modal-content .modal-body {padding-bottom: 85px;}
.modal-open .modal.show .modal-dialog .modal-content .modal-footer {@include transform(translate(0, 0));}

.vspacer10 {height: 10px;width: 100%;display: block;clear: both;}
.vspacer20 {height: 20px;width: 100%;display: block;clear: both;}
.vspacer30 {height: 30px;width: 100%;display: block;clear: both;}


/* //global header */
header.global-header {
	background: $white;
	border-bottom: 1px solid rgba($black, .08);
	.dark-theme &{
		background: rgba($bgcolor-darktheme, 0.8);
		border-bottom: 1px solid rgba($bgcolor-darktheme, .08);
	}
	div.in-glheader {
		.glheader-content {
			background: $white;
			border-bottom: none;
			padding: 10px 0;
			display: flex;
			justify-content: center;
			justify-content: space-between;
			@include transition;
			.dark-theme &{
				background: transparent;
			}
			.brand-logo {
				display: inline-block;
				margin:auto 0;
				img {
					/*width: 176px;
					height: 48px;*/
					width: 103px;
					height: 42px;
				} /* //img */
			} /* //.brand-logo */
			.product-heading {
				display: none;
				margin: auto 0;
				h1 {
					font-size: 1.3rem;
					font-weight: 500;
					text-transform: uppercase;
					margin: 0;
					// padding-top: 18px;
				} /* //h1 */
			} /* //.product-heading */
			.hil-btn-glnav {
				display: inline-block;
			} /* //&.hil-btn-glnav */
			.item-nav {
				display: block;
				padding: 14px 10px;

				&>div {
					position: relative;
					height: 32px;
					display: inline-block;
					width: 32px;
					vertical-align: middle;
					&>div {
					width: 32px;
					height: 3px;
					background: $brand1;
					position: absolute;
					right: 0px;top: 15px;
					@include transition2(background .2s ease);
						&::before, &::after {
							content: '';
							position: absolute;
							width: 100%;
							height: 3px;
							margin-top: -7px;
							background: $brand1;
							@include transition(transform .4s ease, margin .2s ease);
						} /* //&::before, &::after */
						&::after {
							margin-top: 7px;
						} /* //&::after */
					} /* //&>div */
				} /* //&>div */
				span {
					display: inline-block;
					vertical-align: middle;
				} /* //span */
				&.item-active {
					background: rgba($brand1 , .2);

					// @include border-radius(4px);
					&>div {
						&>div {
							background: transparent;
							&::before, &::after {
								margin-top: 0;
							} /* //&::before, &::after */
							&::before {
								background-color: rgba($black, 0.5);

								@include transform(rotate(45deg) scale(.76, .96));
							} /* //&::before */
							&::after {
								background-color: rgba($black, 0.5);

								@include transform(rotate(-45deg) scale(.76, .96));
							} /* //&::after */
						} /* //&>div */
					} /* //&>div */
				} /* //&.menu-active */
			} /* //&.item-nav */
		} /* //.glheader-content */
	} /* //div.in-glheader */
	&.sticky-header {
		position: fixed;
		left: 0;right: 0;top: 0;
		z-index: 100;
		&.tiny-header {
			background-color: 	$white	;
			.glheader-content {
				padding-top: 0;
				 padding-bottom: 0;

			}
		} /* //&.tiny-header */
	} /* //&.sticky-header */
} /* //header.global-header */


/* //header items */
.header-items {
	// float: right;
	margin: auto 0;
	display: none;
	display: inline-block;
	.lst-header-items {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			vertical-align: middle;
			// border-right: 1px solid rgba($black, .1);
			// padding: 0 5px;
			// line-height: 10px;
			position: relative;
			// height: 32px;
			em {
				font-style: normal;
				font-size: .9rem;
				&.hi-user-greet {
					display: none;
				} /* //&.user-greet */
			} /* //em */
			a {
				font-size: 1rem;
				display: block;
				padding: 5px 10px 10px 8px;
				line-height: 1.5rem;
				z-index: 0;
				position: relative;
				.hi-user-name{

				}
				&.item-help {
					position: relative;
					&::after {
						content: '';
						width: 8px;
						height: 8px;
						background: $action-danger;
						display: inline-block;
						position: absolute;
						top: 2px;right: 5px;
						@include border-radius(4px);
					} /* //&::after */
					img {
						width: 28px;
						height: 28px;
						@include opacity(.7);
					} /* //img */
				} /* //&.item-help */
				&.item-template {
					position: relative;
					// padding-right: 4px;
					i {
						position: absolute;
						right: 6px;top: 5px;
						padding: 4px 6px 3px;
						background: $action-notification;
						color: $white;
						font-size: .5rem;
						line-height: 10px;
						font-style: normal;
						// font-weight: bold;
						z-index: 1;
						@include border-radius(20px);
					} /* //i */
					img {
						width: 28px;
						height: 28px;
						@include opacity(.7);
						&.d-img{display: block;}
						&.m-img{display: none;}
					} /* //img */
				} /* //&.item-template */
				&.item-user {
					display: inline-block;
					padding-right: 20px;
					margin-right: 5px;
					padding-left: 5px;
					padding-bottom: 5px;
					padding-top: 12px;
					img {
						display: inline-block;
						width: 32px;
						height: 32px;
						    margin-top: -15px;
						@include border-radius(100%);
						/*@include opacity(.7);*/
					} /* //img */
					span {
						display: inline-block;
						em{
							display: block;
							font-size: 1rem;
							padding:0;
							margin:0;
							line-height: 0;
							
						}
						i.login-time{
								font-size: 0.7rem;
								line-height: 0;
								font-style:normal;
								color: rgba($black, 0.5);
								.dark-theme &{
									color: rgba($white, 0.5);
								}
							}
						&.hi-user-name {
							display: none;
							
						} /* //&.hi-user-name */
						&.login-time{
							display: none;
							
						} /* login-time */
					} /* //span */
					span.chevron {
						width: 12px;
						height: 12px;
						display: block;
						position: absolute;
						right: 5px;top: 50%;
						margin-top: -6px;
						@include transition;
						&::after {
							content: '';
							width: 8px;
							height: 8px;
							border: 2px solid rgba($black, .5);/* #777 */
							border-top: 0;border-right: 0;
							margin-left: 2px;
							display: block;
							@include transform(rotate(-45deg));
						} /* //&::after */
					} /* //span.chevron */
					&.item-user-active {
						background: rgba($brand1 , .2);
						span.chevron {
							@include transform(rotate(180deg));
						} /* //&::after */
					} /* //.item-user-active */
				} /* //&.item-user */
				
				&::before {
					content: '';
					display: block;
					opacity: 0;
					position: absolute;
					@include transition-duration(.15s);
					@include transition-timing-function(cubic-bezier(0.4,0.0,0.2,1));
					z-index: -1;
					bottom: 0;
					left: 0;
					right: 0;
					top: 0;
					background: rgba($brand1, .5);
					// @include border-radius(4px);
					// @include border-radius(30px);
					@include transform(scale(0));
					@include transition-property(transform, opacity);
				} /* //&::before */
				&:hover {
					// background: rgba($brand1, .1);
					text-decoration: none;
					&::before {
						// opacity: .12;
						@include transform(scale(1));
						@include opacity(.3);
					} /* //&::before */
				} /* //&:hover */
				&:active {
					text-decoration: none;
				} /* //&:active */
				&.item-logout {
					// display: inline-block;
					display: none;
					img {
						// width: 18px;
						// height: 18px;
						width: 28px;
						height: 28px;
					} /* //img */
				} /* //&.item-logout */
			} /* //a */
			&::after {
				content: '';
				/*background: rgba($black, .2);*/
				position: absolute;
				right: 0;top: 50%;
				width: 1px;
				height: 20px;
				margin-top: -10px;
			} /* //&::after */
			&:last-child {
				&::after {content: none;}
			} /* //&:last-child */
			&.hil-help {
				display: none;
			} /* //&.hil-help */
			&.hil-template {
				/*display: none;*/
				padding-right: 2px;
			} /* //&.hil-template */
			
			&.hil-user-name {
				display: none;
			} /* //&.hil-user-name */
			.sp-userprofile {
				width: 300px;
				background: rgba($brand1, .96);
				border: 1px solid rgba($black, .1);
				border-top: none;
				margin-top: 16px;
				height: 0px;
				text-align: left;
				position: fixed;
				// left: 50%;
				margin-left: -150px;
				z-index: 200;
				@include opacity(0);
				@include transition(all .4s cubic-bezier(0.4,0.0,0.2,1));
				overflow: hidden;
				.lst-sp-userprofile {
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						display: list-item;
						margin: 0;padding: 0;
						border-top: 1px solid rgba($black, .1);
						a {
							display: block;
							padding: 8px 10px;
							color: $white;
							&::before {
								background-color: darken($brand1, 5%);
							} /* //&::before */
							img {
								width: 64px;
								height: 64px;
								position: absolute;
								left: 10px;top: 10px;
							} /* //img */
							&>div {
								padding-left: 70px;
								height: 70px;
								h5 {
									margin: 0;padding: 10px 0 0;
									font-size: 1rem;
									line-height: 1rem;
								} /* //h5 */
								b {
									font-weight: normal;
									font-size: .6rem;
									color: rgba($white, .4);
									line-height: 1rem;
									// margin-top: -5px;
									display: block;
									i {
										color: rgba($white, .9);
										font-style: normal;
										font-size: .7rem;
									} /* //i */
								} /* //b */
								p {
									font-weight: normal;
									font-size: .6rem;
									color: rgba($white, .4);
									margin: 0;padding: 0;
									line-height: 1rem;
									// margin-top: -5px;
									display: block;
									i {
										color: rgba($white, .9);
										font-style: normal;
										font-size: .7rem;
									} /* //i */
								} /* //p */
							} /* //&>div */
							&.ic-upitems {
								padding-left: 38px;
								background: url('#{$images-icon-path}user-profile.png') no-repeat 5px center;
							} /* //&.ic-upitems */
							&.ic-userprofile {
								background-position: 5px 0*24+6px;
							} /* //&.ic-userprofile */
							&.ic-changepass {
								background-position: 5px 0*24+6px;
							} /* //&.ic-changepass */
							&.ic-editprofile {
								background-position: 5px -2*24+6px;
							} /* //&.ic-edit-profile */
							&.ic-logout {
								color: lighten($action-danger, 30%);
								// background-color: $action-danger;
								background-position: 5px -4*24+6px;
								&::before {
									// background-color: rgba($brand1, .9);
								} /* //&::before */
							} /* //&.ic-logout */
						} /* //a */
						&::after {
							content: none;
						} /* //&::after */
					} /* //li */
				} /* //.lst-sp-userprofile */
				&.sp-up-showing {
					height: 210px;
					// visibility: visible;
					@include opacity(1);
					/* -- overflow bug 
					&::before {
						content: none;
						background: transparent;
						display: block;
						position: absolute;
						left: 50%;
						top: -5px;
						border: 5px solid $brand1;
						border-top-color: transparent;
						border-right-color: transparent;
						@include transform(rotate(135deg));
						margin-left: -6px;
					}*/ /* //&::before */
				} /* //&.sp-up-showing */
			} /* //.sp-userprofile */
		} /* //li */
	} /* //.lst-header-items */
} /* //.header-items */


/* ====== Global Navigation :: Start */
.global-nav {
	width: $navigationWidth;
	background: $white;
	position: fixed;
	top: 0;
	/*left: 0;*/
	bottom: 0;
	z-index: 90;
	@include box-shadow( 3px 0px 3px 0px rgba($black, .1));
	@include transform(translateX(-100%));
	@include transition(all .4s ease);
	.dark-theme &{
		background: rgba($bgcolor-darktheme, 0.8);

	}
	&.nav-active {
		@include transform(translateX(0%));
	} /* //&.nav-active */
	&.nav-m-active {
		@include transform(translateX(0%));
	} /* //&.nav-active */
	.in-glnav{
		.main-nav{
			ul.lst-main-nav{
					list-style: none;
					padding: 0;

				li{
					display: block;
					a{	
						padding: 15px 20px;
						position: relative;
						text-align: left;
						padding-left: 42px;
						display: block;
						/*text-align: center;*/
						border-bottom: 1px solid rgba($black, .1);
						color: $white;
						img{
							position: absolute;
							width: 22px;height: 22px;
							display: block;
							left: 10px;top: 50%;
							margin-top: -11px;
							&.icon-active{
								display: none;
							}
						} /*img*/
						em{
							padding: 0;
							/*font-size: 16px;*/
							font-style: normal;
							color: rgba($black, 0.8);
							display: block;
							padding: 0;
							font-weight:500;
							@include opacity(.8);
							.dark-theme &{
								color: rgba($black, 0.8);
							}
						} /*em*/
						&.dropnav{
							&::after {
								content: '';
								display: block;
								background: url('#{$images-icon-path}arrow.png') no-repeat center;
								width: 16px;
								height: 16px;
								position: absolute;
								right: 10px;
								top: 50%;
								margin-top: -8px;
								opacity: .7;
								transition: all .3s ease;
							} /*&::after*/
						} /*&.dropnav*/
						&.mn-open {
							background-color: rgba($white, 0.2);
							&::after {
								transform: rotate(180deg);
							} /*&::after*/
						}/* &.mn-open*/
						&.active-item{
							background-color: rgba($brand1, 0.1);
							border-left: 3px solid $brand1;
							em{
								color: $brand1;
							} /* em */
							img{
							&.icon-active{
								display: block;
							}
						} /*img*/
						} /* &.active-item */
					} /*a*/
					.sub-nav {
						max-height: 0;
						overflow: hidden;
						visibility: hidden;
						opacity: 0;
						padding-left: 30px;
						background-color: rgba($white, 0.1);
						transition: all .4s ease;
						&.sn-open {
							max-height: 800px;
							/*overflow: auto;*/
							visibility: visible;
							opacity: 1;
							/*margin-left: 40px;*/
							ul.lst-sub-nav{
								list-style: none;
								li{
									a{
										padding: 8px 10px;
										border-bottom: 1px solid rgba($white, 0.1);
										em {
											padding: 0;
											/*font-size: 16px;*/
											font-style: normal;
											color: rgba($black, 0.8);
											display: block;
											padding: 0;
											/*font-size: 13px;*/
											@include opacity(.8);

										}/* em */
										&.sn-active {
											background-color: rgba($white, 0.3);
										} /* &.sn-active */
									}	/* a*/
									&::last-child {
										a {
											border-bottom: none;

										} /*a*/
									} /* &::last-child*/
								} /* li */
							} /*ul.lst-sub-nav*/
						} /* &.sn-open */
					} /* .sub-nav */
				} /*li*/
			} /* ul.lst-main-nav */
		} /*.main-nav*/
	} /*.in-glnav*/

} /* //.global-nav */

.nav-overlay {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.86);
    z-index: 10;
} /*.nav-overlay */
/* ====== Global Navigation :: End   */
.page-form{
	padding:20px;
	.form-container{
		background-color: $white;
		padding:20px;
		h2{
			color:$brand1;
		}
	}
}

/* //main container */
main.main-container {
	/*margin-top: 91px;*/
	div.in-main {
			/* ====== Page Content - Main Page :: Start */
	
		.main-content{
			@include transition(all .4s ease);

			&.main-slide {
				padding-left: $navigationWidth ;

				.in-main {
					left: $navigationWidth ;
				} /* //.header */

			} /* //&.main-slide */

			.in-main {
				position: relative;
				/*left: 0;
				right: 0;
				bottom: 0;
				top: 0;
				z-index: 2;*/
				@include transition(all .4s ease);

				.content {
					overflow: auto;
					height: 100%;

					.in-content {
						padding: 90px 30px;

						/* ++++++++ TEMP*/ /*h1, h2, h3 {margin:0;padding:0;padding-bottom: 50px;}*/

						.page-header {
							
							h3 {
								margin: 0;
								padding: 0;
								font-size: 30px;
								display: inline-block;
							} /* //h3 */

						} /* //.page-header */

					} /* //.in-content */

				} /* //.content */
			} /* //.main-content */

		} /*.main-content*/
		
	
	/* ====== Page Content - Main Page :: End   */
		.in-mcontainer {
			background: url('#{$images-background-path}banner.png') no-repeat;
			background-size: contain;
			padding: 10px;
			color: $white;
			/*background: $white;*/
			.page-heading{
				h1{
					font-size: 1.4em;
					margin-bottom: 0;
				} /* h1 */
			} /* .page-heading */
		} /* //.in-mcontainer */

	} /* //div.in-main */
} /* //main.main-container */


/* -- Dashboard : Start */
body {
	&.body-dashboard {
		background: $brand1;
		main.main-container div.in-main .in-mcontainer {
			background-color: transparent;
			padding: 15px 0;
			.row {
				margin-right: -15px;
				margin-left: -15px;
				.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
					padding-right: 15px;
					padding-left: 15px;
				}
			}
		}
		
	} /* //&.body-dashboard */
} /* //body */


/* -- Dashboard : End */

/* //global footer */
footer.global-footer {
	display: none;
} /* //footer.global-footer */
.header-items .lst-header-items li.hil-user-name{
	display: none;
}

.mhil-user-name{display: none;}
@media (min-width: 1621px) {
	.container-fluid {
		max-width: 1600px;
	}
	
	.modal .modal-dialog.modal-custom {max-width: 1600px;}
	
}
@media (max-width: 1620px) {
	
}
@media (min-width: 1024px) {
	header.global-header div.in-glheader .glheader-content .product-heading {
		display: inline-block;
	}
	/* //menu icon navigation button */

	.header-items .lst-header-items li.hil-help::after {
		content: none;
	}
	/* //global footer */
	footer.global-footer {
		display: block;
		border-top: 1px solid rgba($black, .08);
		div.in-glfooter {
			.glfooter-content {
				background: $white;
				/*text-align: right;*/
				padding: 15px 10px;
				h1{
					padding: 0;color: rgba($black, 0.5);
					display: inline-block;
					font-size: 0.6rem;margin:0;
				}
				img{    
					width: 100px;
					text-align: right;
					float: right;
					display: inline-block;
				}
			} /* //.glfooter-content */
		} /* //div.in-glfooter */
		&.sticky-footer {
			position: fixed;
			left: 0;right: 0;bottom: 0;
			z-index: 100;
			background: rgba($white, .96);
		} /* //&.sticky-footer */
		&.floating-footer {
			position: relative;
			/*left: 0;right: 0;bottom: 0;*/
			z-index: 100;
			background: rgba($white, .96);
		} /* //&.sticky-footer */
	} /* //footer.global-footer */
}
@media (min-width: 768px) {
	main.main-container div.in-main .in-mcontainer {
		padding: 15px;
	}
	header.global-header div.in-glheader .glheader-content .hil-btn-glnav {
		display: none;
	}
	header.global-header{padding:0 15px;}

	header.global-header div.in-glheader .glheader-content {
		display: flex;
		justify-content: space-between;
	}
	.header-items {
		margin: auto 0;
		display: block;
	}
	
	.nav-overlay{display:none !important;}
/*	main.main-container div.in-main .main-content {padding: 0 15px;}*/
	.header-items .lst-header-items li em.hi-user-greet, 
	.header-items .lst-header-items li a.item-user span.hi-user-name, 
	.header-items .lst-header-items li a.item-logout, 
	.header-items .lst-header-items li.hil-help, 
	.header-items .lst-header-items li.hil-template {
		display: inline-block;
	}
	header.global-header div.in-glheader .glheader-content .brand-logo{display: block;}
	header.global-header div.in-glheader .glheader-content .header-items{display: block;}
	.header-items .lst-header-items li a.item-user span.login-time{
		display: block;
	}
	.header-items .lst-header-items li .sp-userprofile {
		position: absolute;
		margin-left: -110px;
		margin-top: 20px;
	}
	div.dataTables_wrapper div.dataTables_info {
		padding-top: .6rem;
	}
	div.dataTables_wrapper div.dataTables_paginate ul.pagination {
		justify-content: flex-end;
	}
	.dt-extras {
		// justify-content: flex-end;
	}
	header.global-header.sticky-header.tiny-header {
		.glheader-content {
			padding-top: 0;
			padding-bottom: 0;
		}
	} /* //&.tiny-header */
	nav.global-nav div.in-glnav .glnav-content .navigation-items .lst-navigation>li.mb-help, 
	nav.global-nav div.in-glnav .glnav-content .navigation-items .lst-navigation>li.mb-template {
		display: none;
	}
	/*.header-items .lst-header-items li span.hi-user-name{

	}*/
	.progressbar-container{display: none;}
	.header-items .lst-header-items li span.login-time{
		/*display: block;*/
		font-size: 0.6rem;
		line-height: 0.3;
		color: rgba($black,0.7);
		padding-left: 40px;
		margin-top: -7px;
		    /*padding-bottom: 10px;*/

		b{
			font-weight:normal;
		}
		i{
			font-style:normal;				
			padding-left: 5px;
		}
	}

}

@media (max-width: 767px) {
	header.global-header div.in-glheader .glheader-content .brand-logo img {
		width: 73px;
		height: 30px;

	}
	main.main-container div.in-main .main-content .in-mcontainer{background:transparent;}
	.bg-m-img{
		background: url('#{$images-background-path}banner.png') no-repeat top center;
		position: relative;
	}
	.header-items .lst-header-items li.hil-user-name{
		display: none;
	}
	.header-items .lst-header-items li a.item-user{
		display: none;
	}
	.header-items .lst-header-items li a.item-template img.m-img{display: block;}
	.header-items .lst-header-items li a.item-template img.d-img{display: none;}
	header.global-header div.in-glheader .glheader-content .item-nav > div > div, 
	header.global-header div.in-glheader .glheader-content .item-nav > div > div::before,
	 header.global-header div.in-glheader .glheader-content .item-nav > div > div::after
	{background-color: $white;}

	header.global-header.tiny-header div.in-glheader .glheader-content .item-nav > div > div, 
	header.global-header.tiny-header div.in-glheader .glheader-content .item-nav > div > div::before, 
	header.global-header.tiny-header div.in-glheader .glheader-content .item-nav > div > div::after
	{background-color: rgba($black,0.5);}
	header.global-header div.in-glheader .glheader-content .item-nav.item-active
	{position: absolute;top: 0;left: $navigationWidth;background-color: $white; }
	header.global-header.tiny-header div.in-glheader .glheader-content .item-nav.item-active > div > div{background-color:transparent;}
	header.global-header div.in-glheader .glheader-content .item-nav.item-active > div > div{background-color: 	transparent;	}

	header.global-header.tiny-header .header-items .lst-header-items li a.item-template img.d-img{display:block;}
	header.global-header.tiny-header .header-items .lst-header-items li a.item-template img.m-img{display:none;}

	header.global-header div.in-glheader .glheader-content .item-nav span{display: none;}
	header.global-header{background: transparent;border-bottom: transparent;}
	header.global-header div.in-glheader .glheader-content {
		/*padding: 0 15px;*/
		background: transparent;
	}
	main.main-container div.in-main .in-mcontainer{padding:0 10px;}
	.mhil-user-name{
		display: block;
		span.hi-user-name{
			display: block;
			font-size: 1.5rem;
			color: $white;
		} /* span.hi-user-name */
		span.login-time{
		    display: block;
		    font-size: .8rem;
		    color: rgba($white,0.8);
		    i{font-style: normal;}
		} /* span.login-time */
	} /* .mhil-user-name */

	.global-nav{
		@include box-shadow( 0px 0px 0px 0px rgba($black, .1));
		z-index: 20;
	}
	header.global-header div.in-glheader .glheader-content .brand-logo{z-index:0;}
	main.main-container div.in-main .in-mcontainer .page-heading p{display: none;}
	div.stepwizard-row .stepwizard-step, 
	.owl-carousel.customer-registration .item a .box-container .box-description img.wizard-default, 
	.owl-carousel.customer-registration .item a .box-container .box-description img.wizard-active{display: none !important;}
	.owl-carousel.customer-registration .item a .box-container .box-description h4, .owl-carousel.customer-registration .item a .box-container .box-description p{text-align: 	left !important;}
	.owl-carousel.customer-registration .item a .box-container .box-footer {
    padding: 15px 10px !important;text-align:right !important;}
	.progressbar-container{
		position: relative;
		line-height: 0;
		span {
			padding-bottom: 0;
			margin-bottom: 0;
			text-align: right;
			display: block;
			font-size: 1rem;
			em{font-style: normal;}
		}
	} 
	.owl-carousel.customer-registration .item a .box-container .box-description p{height:auto !important;}
}
@media (min-width: 375px) {
	.header-items .lst-header-items li.hil-user-name {
		display: inline-block;
	}
	nav.global-nav div.in-glnav .glnav-content .navigation-items .lst-navigation>li.mb-logout {
		display: none;
	}

}






