$brand1 : #00A8E5;
$brand2 : #0037E7;


$bgcolor : #CDDDE8;
$bgcolor-darktheme : #595959;

$white : white;
$black : black;

$action-notification: #fa8d11;

$action-danger : red;
$action-success: #3AC500;
$action-warning: orange;

$navigationWidth : 200px;

$images-background-path	: '../images/background/';
$images-banner-path		: '../images/banner/';
$images-product-path	: '../images/product/';
$images-icon-path		: '../images/icon/';
$images-loader-path		: '../images/loader/';
$images-logo-path		: '../images/logo/';